@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input__styles {
    @apply w-full p-4 rounded-lg text-xs
  }


  .forms__section__styles {
    @apply w-[80%] min-h-screen text-white flex flex-col gap-12 items-center justify-center
  }
  .forms__heading__styles {
    @apply w-full text-white text-3xl font-bold
  }
  .forms__subheading__styles {
    @apply text-yellow-main text-lg font-bold
  }
  .forms__button__styles {
    @apply w-full p-4 rounded-lg font-bold border border-pink-main
  }
  .forms__navigate__button {
    @apply w-fit uppercase text-xl text-yellow-main
  }
  .forms__question__styles {
    @apply w-full p-8 border border-white rounded-lg flex flex-col gap-4
  }
  .forms__question__heading__styles {
    @apply uppercase font-bold text-xl
  }
  .forms__selectQuestion__styles {
    @apply w-full flex flex-wrap justify-between gap-4
  }
  .forms__questionItem__styles {
    @apply flex flex-col px-4 py-2 border border-pink-main rounded-full grow items-center
  }
}

.appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.herosection_background {
  background-image: url("../public/HowItWorks-Hero.jpeg");
  background-size: cover;
}

/*scrollbar settings */
.billy_scrollbar {
  width: 100%;
  height: 100vh;
}

.billy_scrollbar::-webkit-scrollbar {
  width: 5px;   
}

.billy_scrollbar::-webkit-scrollbar-thumb {
  background-color: #FFBA69;  
}

.billy_scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.billy_scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #FFBA69; 
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#hellothisisbilly{
  text-transform: uppercase;
  background: url('../public/billboard-gif-2.gif');
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.image_section {
  background-image: url("../public/landing-image.jpg");
  background-size: cover;
  background-position: center;
}

input[type="date"] {
  
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  color: #C848B9;
  outline: none;
}

.transition-items {
  transition: max-height 1s ease, opacity 1s ease; /* Transition max-height and opacity */
  overflow: hidden;
  opacity: 0;
  max-height: 0;
}

.show {
  opacity: 1;
  max-height: 1000px; /* Adjust height as needed */
}

.hidden {
  opacity: 0;
  max-height: 0;
}

